<%- include('partials/header') %>

    <body class="profile">

        
        <%- include('partials/navbar') %>

        <%- include('partials/displayProfile') %>

        <%- include('partials/posts') %>

        <%- include('partials/displayComments') %>

    </body>

    <footer>
        <script src="/index.js"></script>
    </footer>
<%- include('partials/footer') %>